.textHeader {
  color: #444;
  font-size: 1.2rem;
}

.button {
  color: var(--primary-red);
  background-color: #fff;
  border: none;
  transition: all 0.3s ease;
  font-size: 1.2rem;
  border-radius: 5px;
  margin-right: 50px;
  font-size: 1.1rem;
  padding: 5px 10px;
}

.button:hover {
  background-color: var(--primary-red);
  color: #fff;
  cursor: pointer;
}
