:root {
  --header-color: #fff;
  --height-topBar: 85px;
  --primary-red: #9f1110;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  margin: 0 6%;
  margin-top: var(--height-topBar);
}
